<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/rdscore.png" type="image/x-icon">
  <meta name="description" content="">

  <title>RDScore</title>
  <link rel="shortcut icon" href="/static/rdscore.png" type="image/x-icon">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=KdG0q8"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=KdG0q8" type="text/css">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://www.rdscore.com",
    "logo": "https://www.rdscore.com/static/rdscore.png",
    "name": "RDScore"
  }
  </script>

  <style>
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .navbar-logo img {
        height: 5rem;
        margin-right: 15px;
    }
    .navbar-caption {
        font-size: 2rem;
        color: white;
    }
  </style>
</head>
<body>

  <section data-bs-version="5.1" class="menu menu1 cid-ulSTjKDvDr" once="menu" id="menu01-f">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="https://www.rdscore.com/">
              <img src="assets/images/rdscore.png" alt="Logo RDScore">
            </a>
          </span>
          <span class="navbar-caption"><a class="navbar-caption text-white text-primary" href="https://www.rdscore.com/">RDScore</a></span>
        </div>
      </div>
    </nav>
  </section>

  <section data-bs-version="5.1" class="info1 cid-ulUcoo5TfP" id="info1-o">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);"></div>
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1"><strong>Descarga nuestra app desde Google Play completamente gratis.</strong></h3>
                <div class="mbr-section-btn"><a class="btn btn-white-outline display-4" href="https://play.google.com/store/apps/details?id=com.rigobertods.rdscore" target="_blank">Descarga RDScore</a></div>
            </div>
        </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="features10 cid-ulSTh8ybrb" id="features010-e">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 mb-0 content-head">
          <h3 class="mbr-section-title mbr-fonts-style align-center display-2">
            <strong>Cómo Funciona</strong></h3>
          <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">Predicciones de fútbol precisas impulsadas por inteligencia artificial.</h5>
        </div>
      </div>
      <div class="row">
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Creación de Modelos</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                Aplicamos modelos avanzados de inteligencia artificial para analizar datos estadísticos de equipos y jugadores, anticipando los resultados de los partidos con precisión.
              </p>
            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mobi-mbri-magic-stick mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Generación de Predicciones</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                Nuestro sistema procesa millones de puntos de datos para generar predicciones confiables y detalladas sobre el desenlace de cada partido.
              </p>
            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-4">
          <div class="item-wrapper">
            <div class="card-box align-left">
              <div class="iconfont-wrapper mb-3">
                <span class="mbr-iconfont mobi-mbri-file mobi-mbri"></span>
              </div>
              <h5 class="card-title mbr-fonts-style display-5"><strong>Recomendaciones</strong></h5>
              <p class="card-text mbr-fonts-style mb-3 display-7">
                Proporcionamos recomendaciones de apuestas basadas en un análisis exhaustivo y predicciones precisas, diseñadas para maximizar tus probabilidades de éxito.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section data-bs-version="5.1" class="footer2 cid-ulSWO1rTc7" once="footers" id="footer02-g">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 center mt-2 mb-3">
                <p class="mbr-fonts-style copyright mb-0 display-7">
                    © 2024 RDScore | <a href="mailto:rdsscore@gmail.com" class="text-white">rdsscore@gmail.com</a></p>
            </div>
            <div class="col-12 col-lg-6 center">
                <div class="row-links mt-2 mb-3">
                    <ul class="row-links-soc">
                      <li class="row-links-soc-item mbr-fonts-style display-7"><a href="https://www.rdscore.com/privacidad" class="text-white" target="_blank">Política de Privacidad</a></li></ul>
                </div>
            </div>
        </div>
    </div>
  </section>

  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>

</body>
</html>
